form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin: 0.5rem 0;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.register-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn-cadastrar {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 20px 10px;
  border-radius: 5px;
}

.btn-voltar {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  color: black;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
}