.cadastro-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  max-width: 400px; /* Tamanho máximo do card */
  margin: 0 auto; /* Centralizar o card na tela */
  box-sizing: border-box; /* Incluir padding e borda no tamanho total */
}

.cadastro-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

label {
  margin: 0.5rem 0;
  color: black;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-cadastrar {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
}

.btn-voltar {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 5px;
}

.btn-recuperar-senha {
  font-size: 14px;
  color: #007bff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  height: 20px;
}

@media (max-width: 600px) {
  .form-group {
    margin-bottom: 10px;
  }

  .btn-cadastrar,
  .btn-voltar {
    width: 100%;
    margin: 10px 0;
  }
}