.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.border-catalogo {
  overflow: auto;
  padding: 150px 0px;
}

.destinos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destino-card {
  border-radius: 4px;
  width: 300px;
  margin: 8px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  text-align: center;
}

.destino-card.dark-mode .destino-card-title,
.destino-card.dark-mode .destino-card-desc,
.destino-card.dark-mode .destino-card-price,
.destino-card.dark-mode .destino-card-date {
  color: white;
}

.dark-mode .navbar {
  background-color: #222222;
  color: white;
}

.dark-mode .footer {
  background-color: #222222;
  color: white;
}

.destino-card.dark-mode {
  background-color: #222222;
  color: white;
}

.destino-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.destino-card-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #333;
}

.destino-card-desc {
  margin-bottom: 10px;
  color: #666;
}

.destino-card-price {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.destino-card-date {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.destino-card-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #023e73;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
  font-weight: bold;
}

.destino-card-btn:hover {
  background-color: #0056b3;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 60px auto;
  border-radius: 10px;
  padding: 8px 210px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.light-mode {
  border: 1px solid #ccc;
}

.dark-mode .search-container {
  border: 1px solid #3a3232;
}

.search-input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  color: #333;
}

.search-input,
.datepicker-input {
  outline: none;
  border: none;
}

.datepicker-input {
  width: 200px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  color: #333;
  text-align: left;
}

.select-input {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
}

.catalogo-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #3366cc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  margin-top: -120px; /* Ajuste o valor conforme necessário */
  z-index: 1;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .destino-card {
    width: 250px;
  }

  .destino-card-img {
    height: 150px;
  }

  .destino-card-title {
    font-size: 18px;
  }

  .search-container {
    flex-wrap: wrap;
    padding: 8px 16px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 8px;
  }

  .select-input {
    width: 100%;
    margin-bottom: 8px;
  }

  .datepicker-input {
    width: 100%;
    margin-bottom: 8px;
    text-align: left;
  }

  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  .destino-card {
    width: 200px;
  }

  .destino-card-img {
    height: 120px;
  }

  .destino-card-title {
    font-size: 16px;
  }
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.dark-mode .destino-card {
  background-color: #222222;
  color: white;
}

.catalogo-container.dark-mode .destino-card .destino-card-title,
.catalogo-container.dark-mode .destino-card .destino-card-desc,
.catalogo-container.dark-mode .destino-card .destino-card-price,
.catalogo-container.dark-mode .destino-card .destino-card-date {
  color: white;
}

.date-range-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.date-picker {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #333;
  background-color: #f5f5f5;
  margin-right: 10px;
}

.date-picker.dark-mode {
  background-color: #222222;
  color: white;
}