.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.login-title{
  padding: 25px;
  font-size: 40px;
  color: #007bff;
  font-weight: 700;
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.log-in-btn-pass,
.log-in-btn-register {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.log-in-btn-enter {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border-color: transparent;
}

@media (max-width: 600px) {
  .form-group {
    width: 100%;
  }
  
  .button-group {
    flex-direction: column;
  }
  
  .log-in-btn-pass,
  .log-in-btn-register,
  .log-in-btn-enter {
    width: 100%;
  }
}
