.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .border-meus-pacotes {
    overflow: auto;
    padding: 180px 0; /* Ajuste o valor conforme necessário */
  }
  
  .my-packages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .meus-pacotes-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #3366cc;
    margin-top: 20px; /* Ajuste o valor conforme necessário */
  }
  .destinos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .destino-card {
    border-radius: 4px;
    width: 300px;
    margin: 8px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .destino-img {
    max-width: 100%;
    height: auto;
  }
  
  .meus-pacotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .meus-pacotes-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #3366cc;
    margin-bottom: 20px;
  }
  
  .message-container.message-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: #141414;
    color: #ffffff;
    text-align: center;
    border-radius: 40px;
  }
  
  .meus-pacotes-message {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .meus-pacotes-message p {
    margin: 10px 0;
  }
  